<script language="JavaScript" type="text/javascript" src="/static/js/jQuery/jquery-2.1.4.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>

<link href="static/css/bootstrap/bootstrap.min.css" rel="stylesheet">


<!-- <script language="JavaScript" type="module" src="/static/js/wuziObjects.js"></script> -->
<script language="JavaScript" type="text/javascript" src="/static/js/checkerboard.js"></script>
<script language="JavaScript" type="text/javascript" src="/static/js/piece.js"></script>

<script language="JavaScript" type="text/javascript" src="/static/js/wuzi.js"></script>






<link href="static/css/wuzi.css" rel="stylesheet">

